/*********** Fonts ***********/
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), url(/sites/gta/Style%20Library/fonts/roboto/Roboto-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(/sites/gta/Style%20Library/fonts/roboto/Roboto-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/sites/gta/Style%20Library/fonts/roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(/sites/gta/Style%20Library/fonts/roboto/Roboto-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(/sites/gta/Style%20Library/fonts/roboto/Roboto-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(/sites/gta/Style%20Library/fonts/roboto/Roboto-Black.ttf) format('truetype');
}

/*********** Global ***********/
#containerMain {
  font-family: "Roboto", "Helvetica", "Segoe UI", "Arial", sans-serif !important;
}

main a,
main a:hover,
main a:visited,
main .ms-link,
main .ms-link:visited {
  font-family: "Roboto Bold", "Helvetica", "Segoe UI", "Arial", sans-serif !important;
  color: #555;
  display:block;
  text-decoration: none;
}

/*********** Containers ***********/
#containerMain {
  padding: 0px 20px;
}

.containerProcess {
  text-align: center;
  vertical-align: top;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #ccc;
  min-width: 245px;
  margin: 20px;
}


#supportProcess .container {
  display: block;
}

/*#bto>.container {
  float:none;
}*/

.orgEntity {
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  margin: 10px 10px;
}

section {
  text-align: center;
  display: inline-block;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 10px;
}

#businessProcess {
  background-color: #9fb1bc;
}

#supportProcess {
    background-color: #9abedd;
}

#cenOps {
    background-color: #667cb9;
}

#resourceMgmt {
  background-color: #4f87a5;
}

#bto {
  background-color: #9fb1bc;
}

#cenOps .containerProcess {
  background-color: #9abedd;
    background-color: #A6BEFF;
}

#resourceMgmt .containerProcess {
  background-color: #e0e1e1;

}

#bto .containerProcess {
  background-color: #e7eff6;
}

.orgEntity {
  font-size: 1.2rem;
  text-align: center;
  padding: 20px;
}

.process {
  font-size: 1rem;
  margin-bottom: 5px;
}

.subprocess {
  font-size: .9rem;
  margin-bottom: 5px;
}

.sectionTitle,
.sectionTitle a:hover,
.sectionTitle .ms-link:visited {
  text-align: left;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, .5);
  color: #efefef;
}

.cardTitle {
  padding: 5px;
  border-radius: 5px;
}

.orgEntityTitle,
.orgEntityTitle a,
.orgEntityTitle a:visited,
.orgEntityTitle .ms-link:visited {
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  background-color: rgba(0, 0, 0, .2);
}

.process .cardTitle,
.subprocess .cardTitle,
.orgEntity .orgEntityTitle {
 display:block;
 text-decoration: none;
 background-color: rgba(255, 255, 255, .2);
 color: #000 !important;
}

.card .cardTitle:hover,
.orgEntityTitle:hover {
  background-color: white;
  color: black !important;
  border: solid black 1px;
}

.card .cardTitle:hover {
  padding: 4px;
}

.orgEntityTitle:hover {
  padding: 9px;
}

.subprocess .cardTitle {
  background-color: rgba(0, 0, 0, .1);
  color: #333;
}


/** clearfix **/
.clearfix::after {
  display: table;
  clear: both;

  content: "";
}
/*********** hide areas ***********/
/*
.sectionTitle {
  display:none;
}

#supportProcess {
  display: none;
}

#containerRRP {
  display: none;
}

#containerRD {
  display: none;
}

#containerRM {
  display:none;
}

#containerCD {
  display: none;
}

#containerTA {
  display:none;
}
*/
